{{define "bubble"}}


{{if .Enabled}}
const bubble = document.createElement('div');
bubble.id = 'bubble-text';
bubble.classList.add('iv-bubble');
bubble.textContent = '{{.TextContent}}';
{{else}}
const bubble = null;
{{end}}

{{end}}
