{{define "video"}}
function getVideoConfig() {
  const videoConfig = {
    url: "{{.URL}}",
    small: {
      width: 0,
      height: 0,
    },
    large: {
      width: 0,
      height: 0,
    },
  };
  return videoConfig;
}
{{end}}


