{{define "bubble"}}
.iv-bubble {
  position: absolute;
  top: 30px;
  left: -40px;
  width: auto;
  min-width: 60px;
  padding: 8px;
  background: #fff;
  border: 2px solid #007BFF;
  border-radius: 10px;
  border-bottom-right-radius: 2px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}
{{end}}
