<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/style.css" rel="stylesheet">
    <link href="/demo/style.css" rel="stylesheet">
  </head>
  <body>
    <test-abc counter="2"></test-abc>
    <main>
      <div style="height:1500px;width:200px"></div>
      <div id="intro-video"></div>
      <script type="module" src="/components/test.js"></script>
      <script type="module">
        import setup from '/demo/script.js';
        setup();
    </script>
  </body>
</html>
