<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="/style.css" rel="stylesheet">
    <link id="dynamic-css" rel="stylesheet" href="">
    <!-- <link href="/demo/style.css" rel="stylesheet"> -->
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  </head>
  <body>
    <video-input id="abc" name="a123"></video-input>
    <main>
      <div style="height:1500px;width:200px"></div>
      <div id="intro-video"></div>
      <script type="module" src="/components/video-input.js"></script>
      <script type="module">
        import setup from '/demo/script.js';
        setup();
    </script>
  </body>
</html>
