package template

templ IntroVideoPreview(js string, css string, previewScript string, previewStyle string) {
	@templ.Raw(previewStyle)
	@templ.Raw(previewScript)
	<code>{ js }</code>
	<code>{ css }</code>
	<script>
		s = setup()
		s.cleanUp();
		s.run();
	</script>
}
